@import url("./options.css");

.container {
  background-color: white;
  width: 60%;
  height: 80%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

.container-img {
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
  height: 95%;
  margin-top: 0.8rem;
}

.container-img-none {
  display: none !important;
}

@media (max-width: 810px) {
  .container {
    width: 90%;
    display: grid;
  }
  .options {
    display: none !important;
  }

  .container-img {
    height: 30%;
    width: 90%;
  }
}
