@import url("./options.css");

.container {
  background-color: white;
  width: 60%;
  height: 80%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

.container-img {
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
  height: 95%;
  margin-top: 0.8rem;
}

@media (max-width: 810px) {
  .container {
    width: 90%;
    height: 100%;
    display: grid;
    margin-top: 3rem;
  }
  .options {
    display: none !important;
  }

  .container-img {
    height: 100%;
    width: 100%;
    border-radius: 0.3rem;
    margin: 0;
    justify-self: center;
  }

  .numbers {
    flex-direction: row !important;
  }
}
