.container {
  background-color: white;
  width: 60%;
  height: 80%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

.container img {
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
  height: 95%;
  margin-top: 0.8rem;
}
