.list {
  list-style: none;
  text-transform: uppercase;
  color: hsl(231, 100%, 99%);
  position: absolute;
  top: 4rem;
  left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-weight: bold;
}

.list li {
  counter-increment: numero;
  font-size: 0.8rem;
}

/* .list li::before {
  content: counter(numero);
  color: black;
  margin-right: 1rem;
  color: white;
  font-weight: bold;
} */

ol {
  list-style: none;
  color: hsl(231, 100%, 99%);
  position: absolute;
  top: 3.9rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 3rem;
}
