.list_itens {
  list-style: none;
  position: absolute;
  top: 110px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text_item {
  margin-left: 0.6rem;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}
