.list {
  list-style: none;
  text-transform: uppercase;
  color: hsl(231, 100%, 99%);
  position: absolute;
  top: 4rem;
  left: 4rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.list li::before {
  content: counter(numero);
  color: black;
  margin-right: 1rem;
}
