.mountandyear {
  background-color: hsl(217, 100%, 97%);
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 1.5rem;
}

.mountandyear span {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  border-radius: 5px;
  font-size: 0.9rem;
}

#yearly {
  color: hsl(231, 11%, 63%);
}

.toggleElement {
  position: relative;
  width: 50px;
  height: 24px;
}

.toggleElement input[type="checkbox"] {
  display: none;
}

.toggleElement label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 24px;
  background-color: hsl(213, 96%, 18%);
  border-radius: 12px;
  cursor: pointer;
}

.toggleElement label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle input:checked + label:before {
  transform: translateX(26px);
}
