.mountandyear {
  background-color: hsl(217, 100%, 97%);
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 1.5rem;
  padding: 0.6rem 0;
  border-radius: 0.5rem;
  width: 100%;
}

.mountandyear span {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  border-radius: 5px;
  font-size: 0.9rem;
}

#yearly {
  color: hsl(231, 11%, 63%);
}

.toggleElement {
  position: relative;
  width: 3.125rem;
  height: 1.5rem;
}

.toggleElement label {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.125rem;
  height: 1.5rem;
  background-color: hsl(213, 96%, 18%);
  border-radius: 0.75rem;
  cursor: pointer;
}

.toggleElement label:before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* transform: translateX(26px); */

@media (max-width: 1250px) {
  .info.step2 {
    margin: 3rem 1rem;
  }
}

@media (max-width: 1160px) {
  .info.step2 button {
    padding: 0.8rem 3rem;
    text-wrap: nowrap;
  }
}

@media (max-width: 965px) {
  .mountandyear {
    width: 80%;
    align-self: center;
    margin-bottom: 2rem;
  }
  .info.step2 button {
    padding: 0.2rem 2rem;
    text-wrap: wrap;
  }
}

@media (max-width: 880px) {
  .mountandyear {
    margin-bottom: 0rem;
  }
  .info.step2 button {
    padding: 0.2rem 2rem;
    text-wrap: wrap;
    margin: 0 1.5rem;
    margin-top: 1rem;
  }
}

@media (max-width: 880px) {
  .info.step2 {
    margin: 1rem 0;
    overflow: scroll;
  }
}

@media (max-width: 810px) {
  .info.step2 button {
    padding: 0.8rem 3rem;
    text-wrap: nowrap;
    margin: 1rem;
  }

  .info.step2 {
    margin: 1.125rem 2rem;
  }

  .plans {
    gap: 1rem;
  }
  .plans-items {
    width: 10rem;
    height: 100%;
  }
  .plans-items img,
  .plans-items p,
  .plans-items span {
    margin-left: 1rem;
    font-size: 1rem;
  }
}
