.mountandyear {
  background-color: hsl(217, 100%, 97%);
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 1.5rem;
}

.mountandyear span {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  border-radius: 5px;
  font-size: 0.9rem;
}

#yearly {
  color: hsl(231, 11%, 63%);
}

.ball {
  width: 12px;
  height: 12px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  transition: transform 0.5s ease;
}

#meuBotao {
  padding: 5px;
  width: 45px;
  height: 20px;
  background-color: hsl(213, 96%, 18%);
  color: #fff;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: start;
  margin-bottom: 0.8rem;
}
