.options {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  position: absolute;
  margin-left: 3rem;
  margin-top: 1.5rem;
  gap: 3rem;
  text-wrap: nowrap;
}

.options > span {
  display: flex;
}
.options > span:hover {
  cursor: pointer;
}

.span-especial {
  margin-top: 0.4rem;
}
