.noneJs {
  display: none !important;
}

.labelRequired::after {
  content: "This field is required";
  color: hsl(354, 84%, 57%) !important;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  font-size: 0.8rem;
}

.inputValidateJs {
  border: 2px solid rgba(0, 173, 239, 0.8) !important;
}

.inputInvalidateJs {
  border: 2px solid hsl(354, 84%, 57%) !important;
}

.numberClickJs {
  background-color: hsl(206, 94%, 87%);
  color: black;
  font-weight: bold;
  border: 1px solid transparent !important;
  transition: 0.3s;
}

.plans-items.labelStyleJs {
  border: 1px solid hsl(243, 100%, 62%);
  transition: 0.3s;
}

.toggleElementJs.ativo::before {
  left: 2rem;
  transition: 0.3s;
}

.toggleElementJs.desativado::before {
  left: 0.25rem;
  transition: 0.3s;
}

.monthly.desativado {
  color: hsl(231, 11%, 63%);
  transition: 0.2s;
}

.yearly.ativo {
  color: hsl(213, 96%, 18%) !important;
  transition: 0.2s;
}

[data-span="plan-time"].ativo:after {
  content: "2 months free";
  display: flex;
  margin-top: 0.4rem;
  color: hsl(213, 96%, 18%);
  font-weight: bold;
  font-size: 0.7rem;
  animation: mymove 0.3s forwards;
}

@keyframes mymove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
