.types-gamings {
  margin-top: 1rem;
  width: 130%;
}

.type-game {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.type-game div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.type-game-span {
  display: flex;
}
