.types-gamings {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-wrap: nowrap;
}

.type-game {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background-color: #f8f9fe;
  padding: 0.8rem;
  border-radius: 5px;
  width: 90%;
}

.type-game div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.type-game div span {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.type-game-span {
  display: flex;
  margin-left: auto;
  color: hsl(243, 100%, 62%);
}

.info.step3 {
  width: 70%;
}

@media (max-width: 1150px) {
  .type-game {
    padding: 0.1rem;
  }
}

@media (max-width: 964px) {
  .info.step3 button {
    padding: 0.6rem;
  }
  .type-game {
    width: 100%;
  }

  .info.step3 {
    margin: 1rem;
  }
}

@media (max-width: 825px) {
  .info.step3 {
    margin: 0.2rem;
    width: 90%;
  }
  .type-game-span {
    margin-right: 3rem;
  }
  .type-game div {
    margin-left: 2rem;
  }
  .type-game input[type="checkbox"] {
    margin-left: 1rem;
  }
}
